# Fase frontend (mock): true = pakai data dummy, tanpa Supabase.
NEXT_PUBLIC_MOCK_MODE=false

# Fase backend (Supabase).
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
